body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto !important;
    width: 100%;
    
 }
 header{
    text-align: center;
    border-radius: 0px;
    background-color: rgb(37, 39, 97);
    color: rgb(250, 250, 250);
    padding: 10px 0px 10px 0px;
 }
 
 h1 {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;  
 }
 
 h2{
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
 }
 main{
    max-width: 767px;
    display: grid;
    grid-template-columns: 1fr;
 }
 main section{
    border: 2px solid rgb(212, 212, 212);
    border-radius: 10px;
    background-color: rgb(236 236 236);
    padding: 10px 0px 10px 0px;
    margin-top: 10px;;
 }
 main section h3{
    background-color:rgb(78 78 86);
    color:white;
    margin-top: -11px;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
 }
 main section p, a{
    margin-left:5px;
 }
 
 img{
    padding: 0px;
    width: 100%;
    height: auto;
 }
 section a{
    text-decoration: none;
    
 }
 


 @media only screen and (min-width: 600px){
 
    body {
       font-family: 'Montserrat', sans-serif;
       margin: 0 auto !important;
       width: 100%;
       
    }
    header{
       text-align: center;
       border-radius: 0px;
       background-color: rgb(37, 39, 97);
       color: rgb(250, 250, 250);
       padding: 10px 0px 10px 0px;
    }
    
    h1 {
       font-size: 2em;
       font-family: 'Montserrat', sans-serif;  
    }
    
    h2{
       font-size: 1.5em;
       font-family: 'Montserrat', sans-serif;
    }
    main{
       max-width: 852px;
       display: grid;
       grid-gap: 15px;
       grid-template-columns: 1fr 1fr;
       margin: 0 auto;
    }
    main section{
       border: 2px solid rgb(212, 212, 212);
       border-radius: 10px;
       background-color: rgb(236 236 236);
       padding: 10px 0px 10px 0px;
       margin-top: 10px;;
    }
    main section h3{
       background-color:rgb(78 78 86);
       color:white;
       margin-top: -11px;
       padding: 5px;
       border-radius: 10px 10px 0px 0px;
    }
    main section p, a{
       margin-left:5px;
    }
    
    img{
       padding: 0px;
       width: 100%;
       height: auto;
    }
    
    }
 

  @media only screen and (min-width: 1200px){
 
       body {
          font-family: 'Montserrat', sans-serif;
          margin: 0 auto !important;
          width: 100%;
          
       }
       header{
          text-align: center;
          background-color: rgb(37, 39, 97);
          color: rgb(250, 250, 250);
          padding: 10px 0px 10px 0px;
          width: 100%;
          margin:0 auto;
       }
       
       h1 {
          font-size: 2em;
          font-family: 'Montserrat', sans-serif;  
       }
       
       h2{
          font-size: 1.5em;
          font-family: 'Montserrat', sans-serif;
       }
       main{
          min-width: 1200px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 10px;
          margin: 0 auto;
       }
       main section{
          border: 2px solid rgb(212, 212, 212);
          border-radius: 10px;
          background-color: rgb(236 236 236);
          padding: 10px 0px 10px 0px;
          margin-top: 10px;;
       }
       main section h3{
          background-color:rgb(78 78 86);
          color:white;
          margin-top: -11px;
          padding: 5px;
          border-radius: 10px 10px 0px 0px;
       }
       main section p, a{
          margin-left:5px;
       }
       
       img{
          padding: 0px;
          width: 100%;
          height: auto;
       }
       
       }

