body{
    margin: 0 auto;
}
main {
    margin: 0 auto;
    width: 90%;
    
    
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #FBE8C9, #F6CA97, #FBCF67, #FBB825, #ED8728);
    width: 100%;
}

header img {
    width: 165px;
    height: auto;
}

.main-head {
    display: flex;
    flex-direction: column;
}

.main-head p {
    font-size: 46px;
    margin: 0;
    font-family: "Josefin Slab", sans-serif;
}

.motto {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: white;
    padding: 0;
}

.nav-wrapper {
    width: 100%;
    margin: 0 auto;
    font-family: "Chivo", sans-serif;

}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 22px;
    font-size: 13px;

}

nav a:hover {
    background-color: #555;

}

.menu {
    margin: 0;
}

.menu li {
    display: none;
}

.menu li:first-child {
    display: block;
}

.responsive li {
    display: block;
}

.active {
    background-color: #555;
}



/* Main CSS */
.title-gallery p {
    font-family: "Chivo", sans-serif;
    font-size: 30px;
    text-align: center;
}

.gallery-images{
    margin: 0 auto;
    display: grid;
    
}

.gallery-images picture{
    margin: 10px;
    text-align: center;
}

.gallery-images picture img{
    width: 80%;
}
figcaption{
    font-family: "Montserrat",sans-serif;
}



.contact-container {
    display: flex;
    background-color: #333;
    color: white;
    width: 100%;
    margin-top: 70px;
    font-family: "Montserrat",sans-serif ;
}
.contact-container img{
    display: none;
}

.contact-content {

    margin: 0 auto;
}

footer {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px 0px 1px 0px;
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to bottom right, #FBE8C9, #F6CA97, #FBCF67, #FBB825, #ED8728);
}

img[data-src] {
    filter: blur(1em);
  }
  
img {
    filter: blur(0em);
    transition: filter 0.9s;
  }


/* flex style */

@media screen and (min-width:760px) {
 

    header,
    footer {
        width: 100%;
        margin: 0 auto;
    }

    nav {
        width: 100%;
        margin: 0 auto;
    }

    nav ul {
        display: flex;

    }

    nav li {
        flex: 1 1 0;
    }

    .menu li {
        display: block;
    }

    .menu li:first-child {
        display: none;

    }

    .gallery-images{
        margin: 0 auto;
        display: grid;
        grid-template-columns:  1fr 1fr;
    }



    .contact-container {
        position: relative;
    }

    .contact-content {
        margin: 10px 10px 10px 135px;

    } 

    .map img{
        display: block;
        position: absolute;
        width: 35%;
        height: auto;
        top: 16px;
        left: 371px;
    }

}

 @media only screen and (min-width: 1020px) {

    .gallery-images{
        margin: 0 auto;
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
    }

    .contact-content {
        margin: 10px 10px 10px 412px;
        justify-content: center;

    } 

    .map img{
        display: block;
        position: absolute;
        width: 20%;
        height: auto;
        top: 13px;
        left: 656px;
    }
    .gallery-images picture img:hover {
        box-shadow: 0 0 50px #333;
    }

} 