main{
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    align-items: center;
}

picture img{
    display: block;
  
}
h1{
  text-align: center;
}

img[data-src] {
  filter: blur(1em);
}

img {
  filter: blur(0em);
  transition: filter 1s;
  display: block;
  align-items: center;
  margin: 0 auto;
}

